@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 0%;
    border-radius: inherit;
    transition: width 0.3s ease;
    top: 0;
    left: 0;
}

.pass-indicator#weak::before{
    width: 20%;
    background: #e64a4a;
}
body#weak{
    background: #e64a4a;
}

.pass-indicator#medium::before{
    width: 50%;
    background: #f1c80b;
}
body#medium{
    background: #f1c80b;
}

.pass-indicator#strong::before{
    width: 100%;
    background: #43A047;
}
body#strong{
    background: #43A047;
}

.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}

#append-history{
    scrollbar-width: thin;
}
#append-history.weak{
    scrollbar-color: #e64a4a #f1f1f1;
}
#append-history.medium{
    scrollbar-color: #f1c80b #f1f1f1;
}
#append-history.strong{
    scrollbar-color: #43A047 #f1f1f1;
}